@import url("./faixa.css");

* {
    background-color: #000;
    color: #fff;
}

.container {
    position: relative;
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    position: absolute;
    height: 25px;
    left: 0px;
    top: 80px;
    background: rgba(46, 47, 47, 0.65);
    
}

.grid-container h1{
    grid-column: 1/5;
    grid-row: 2/3;
    background-color: #000;
}

.grid-container .secao-1{
    grid-column: 2/4;
    grid-row: 3/5;
}
